# Node / Monorepo Dependencies
node_modules/
**/node_modules/

# Builds and Output
dist/
**/dist/
web-build/
**/web-build/

# Expo & Metro
.expo/
**/.expo/
expo-env.d.ts
.metro-health-check*

# Environment & Secrets
.env
.env*.local
*.env
!*.env.example

# Native Android / iOS
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# System & IDE
.DS_Store
*.pem
.vscode/

# TypeScript
*.tsbuildinfo