# Database Configuration (Docker container service)
DATABASE_URL=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_PORT=
MYSQL_ROOT_USER=
MYSQL_ROOT_PASSWORD=

# Application Configuration
JWT_SECRET=
NODE_ENV=
API_PORT=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
